<!DOCTYPE html>
<html lang="en">
<head>
  <script src="lib/react.js"></script>
  <script src="lib/react-dom.js"></script>
  <script src="lib/browser.js"></script>
  <title>Khoa hoc lap trinh khoa pham</title>
</head>
<body>
  <div id="root"></div>
  <!-- <script type="text/babel" src="js/vidu1.js"></script> -->
  <!-- <script type="text/babel" src="js/vidu2.js"></script> -->
  <script type="text/babel" src="js/vidu3.js"></script>
</body>
</html>
